// h1, .topbar, #all + .center, label[for="see-the-code"] {display: none !important;}
// #all, button {background-image:none !important;background-color:transparent !important;}

$primary-color: #999;
$heading-color: #666;
$link-color: #3c3;
$link-active-color: saturate(darken($link-color, 13%), 20%);

/*================================== GENERAL =================================*/
* {margin: 0;padding: 0;}
body {
    font: 12px roboto, sans-serif;
    color: $primary-color;
    padding: 0 30px 50px;
    transition: .5s;
}

.clearfix:before, .clearfix:after {display: table;content: "";clear: both;}
h1 {text-align: center;color: $heading-color;}
h2 {color: $heading-color;margin: 30px 0 10px;}

p.intro {margin: 0;padding: 20px 0 30px;text-align: center;}
.center {text-align: center;}
.float-left {float: left;}
.float-right {float: right;}

a {
    color: $link-color;
    text-decoration: none;
    transition: .4s ease-out;

    &:hover {color: $link-active-color;}
}
:before {vertical-align: middle;}
input.toggle {position: fixed;top: -1em;left: -1em;z-index: -10;}

#all {
    border: 1px solid #f2f2f2;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: 50px auto;
    max-width: 1200px;
}


@media screen and (max-width: 560px) {
    body {padding-left: 10px;padding-right: 10px;}
}
/*============================================================================*/


/*================================ TOP BAR ===================================*/
.topbar-wrapper {
    position: relative;
    height: 50px;
    margin-bottom: 60px;
    z-index: 10;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(200,200,200,.2);
}
.topbar-inner {
    margin: auto;
    max-width: 1200px;
}
.topbar-logo {
    float: left;
    font-size: 140%;
    height: 100%;
    &:before {
        font-size: 200%;
        padding-right: 10px;
        padding-left: 5px;
        display: inline-block;
        color: #ccc;
    }
}
.topbar-menu {float: right;font-size: 130%;}
.topbar-menu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.topbar-menu li a, .topbar-menu li > span {margin-left: 20px;color: $link-color;}
.topbar-menu li a:hover, .topbar-menu li > span:hover {color: $link-active-color;}
.topbar-menu :before {font-size: 140%;padding-right: 10px;}
.topbar-menu .i-arr-d:before {font-size: 100%;padding-right: 0;color: #ccc;}

.topbar-submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: -8px;
    background-color: rgba(255,255,255,.95);
    border: 1px solid rgba(200,200,200,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    font-size: 90%;
}
li:hover .topbar-submenu {
    display: block;
}
.topbar-submenu li {
    position: relative;
    text-align: right;
    display: block;

    a {
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 35px;
        margin: 0;
        line-height: 2.2em;
        font-size: 95%;
        display: block;
        border-right: 3px solid transparent;

        &.active {border-right-color: $link-color;}
        &.active:before {opacity: .5;}

        &:hover {
            background-color: #f8f8f8;
            border-right-color: $link-color;
            padding-left: 30px;
            padding-right: 25px;
        }
        &:hover:before {
            opacity: 0;
            transform: translateX(5px);
        }
        &:before {
            font-size: 90%;
            position: absolute;
            top: 0;
            bottom: 0;
            line-height: inherit;
            right: 0;
            color: #ccc;
            transition: .3s;
            transform: translateX(0px);
        }
    }
}

@media screen and (max-width: 1200px) {
    .topbar-inner {padding-left: 10px;padding-right: 10px;}
}
@media screen and (max-width: 560px) {
    .topbar-menu li :before {padding-right: 0;}
    .topbar-menu li a, .topbar-menu li > span {padding-left: 40px;margin-left: 0;}
    .topbar-menu li a {padding-left: 20px;}
    .topbar-menu li a span, .topbar-menu li span span {display: none;}
    .topbar-submenu {left: auto;right: 0;}
    .topbar-submenu li a:before {right: 10px;}
}
@media screen and (max-width: 350px) {
    .topbar-menu li a, .topbar-menu li > span {padding-left: 10px;}
}
/*============================================================================*/


/*==================================== GRID ==================================*/
.thegrid .cell > div {
    border: 1px solid #8d5;
    background-image: radial-gradient(circle at top right, #cf6, #8d5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}
/*============================================================================*/



/*============================== SNIPPETS LIST ===============================*/
button {
    margin-top: 10px;
    border: 1px solid #ccc;
    color: #fff;
    border-color: #ff54a3;
    background-image: radial-gradient(circle at top right, #ffb1cb, #ff54a3);
    text-align: center;
    line-height: 2;
    font-size: 110%;
    border-radius: 20px;
    padding: 0 15px 0 20px;
    text-indent: -.4em;
    outline: none;
    cursor: pointer;
    text-shadow: 0 0 2px rgba(0,0,0,.2);
    display: inline-block;
    position: relative;
    user-select: none;

    &:before {font-size: 150%;}
}

.thegrid .cell > div a,
.thegrid .cell > div label {
    color: #090;
    text-shadow: -1px -1px 1px #9f9;
    cursor: pointer;
}
.thegrid .cell > div a:before,
.thegrid .cell > div label:before {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    vertical-align: middle;
    opacity: 0;
    font-size: 300%;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(.7);
    transition: .3s ease-in-out;
}
.thegrid .cell > div a:hover:before {
    opacity: 1;
    transform: scale(1);
}

.thegrid .cell > div i {
    font-size: 300%;
    display: block;
    margin-bottom: 10px;
}
.thegrid .cell > div a:hover {
    color: rgba(0,160,0,.3);
    text-shadow: none;
}
.thegrid .cell > div a:hover:before {
    color: rgba(0,160,0,1);
}

.thegrid .cell .new-snippet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    vertical-align: middle;
    background-color: rgba(255,255,255,.5);
    transform: translateX(100%);
    transition: .3s ease-in-out;
}
.thegrid .cell #showForm:checked ~ .new-snippet {
    z-index: 1;
    opacity: 1;
    transform: translateX(0%);
}

.thegrid .cell .new-snippet .i-cross {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 220%;
}
/*============================================================================*/



/*=============================== SNIPPET PAGE ===============================*/
#snippet h1 {
    margin: 20px 0 50px;
}
/*============================================================================*/



/*============================== LOADING SPINNER =============================*/
.loading:before, .loading:after, .loading {
   border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
   animation-fill-mode: both;
   animation: load7 1.8s infinite ease-in-out;
}
.loading {
    font-size: 1em;
    margin: -0.5em auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    opacity: 1;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;

    &:before {
        left: -3.5em;
        animation-delay: -0.32s;
    }
    &:after {left: 3.5em;}
    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
    }
}
.ready > .loading {opacity: 0;}


@keyframes load7 {
   0%, 80%, 100% {box-shadow: 0 2.5em 0 -1.3em rgba(100,100,100, 0.2);}
   40% {box-shadow: 0 2.5em 0 0 rgba(100,100,100, 0.2);}
}
/*=========================== End of LOADING SPINNER =========================*/