    <div class="topbar-wrapper">
        <div class="topbar clearfix">
            <div class="topbar-inner">
                <div class="topbar-logo i-chef"><a href="{{ROOT_URL}}">My snippets</a></div>
                <div class="topbar-menu">
                    <ul>
                        <li><a href="{{ROOT_URL}}" class="i-home"><span>home</span></a></li>
                        <li>
                            <span class="i-examples"><span>Examples &nbsp; <i class="i-arr-d"></i></span></span>
                            <ul class="topbar-submenu">
                                <li><a href="{{ROOT_URL}}examples/basic.html" class="i-arr-l">Basic</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
